@use "variables" as v;
@use "base/mixins" as m;

html {
	font-size: 62.5%; //Enables that 1 rem = 10px
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit; //padding fix (polarish principal)
}

body {
	font-size: 1.6rem;
	font-family: v.$mainFont;

	&.fixBody {
		overflow: hidden;
	}

	&.scroll-body {
		padding-top: 27.5rem;
	}
}

@include m.tabletSize {
	body.scroll-body {
		padding-top: 10.7rem;
	}
}

h1 {
	font-family: v.$titleFont;
	font-size: 5rem;
	letter-spacing: 0.2rem;
}

h2 {
	font-size: 4.6rem;
}

h3 {
	font-size: 4.2rem;
}

p {
	font-size: 2rem;
	color: v.$black;
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	margin: 0 0 5rem 0;
}

.container {
	width: 95%;
	max-width: 120rem;
	margin: 0 auto;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
