@use "base/variables" as v;
@use "base/mixins" as m;

.header {
	background-color: v.$darkBlue;

	&.fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
	}

	.header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 2rem;

		@include m.tabletSize {
			display: flex;
			justify-content: space-between;
			padding: 2.5rem;
			flex-wrap: nowrap;
		}

		h1 {
			color: v.$white;
			text-shadow: v.$logoTextShadow;
			margin: 0;
			padding-top: 1rem;
			font-size: 3.8rem;

			@include m.tabletSize {
				font-size: 5rem;
			}
		}
	}
}

.hamburger {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	@include m.tabletSize {
		display: none;
	}

	// Hamburger menu animation
	&.open .burger-icon {
		transform: translateX(-5rem);
		background: transparent;

		&::before {
			transform: rotate(45deg) translate(3.5rem, -3.5rem);
		}

		&::after {
			transform: rotate(-45deg) translate(3.5rem, 3.5rem);
		}
	}

	// hamburger menu creation styles
	.burger-icon {
		width: 3.2rem;
		height: 0.3rem;
		background-color: v.$white;
		border-radius: 0.5rem;
		transition: all 0.2s ease-in-out;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 3.2rem;
			height: 0.3rem;
			background-color: v.$white;
			border-radius: 0.5rem;
			transition: all 0.2s ease-in-out;
		}

		&::before {
			transform: translateY(-1rem);
		}

		&::after {
			transform: translateY(1rem);
		}
	}
}

.principal-navigation {
	display: none;
	width: 100%;

	@include m.tabletSize {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 1rem;
		width: auto;
		gap: 3rem;
	}

	@include m.desktopSize {
		gap: 5rem;
	}

	.toggle-icon img {
		cursor: pointer;
		max-width: 2.5rem;
		width: 2.5rem;
	}

	a {
		color: v.$white;
		font-size: 2rem;
		font-weight: bold;
		display: block;
		margin-bottom: 1.5rem;
		text-shadow: v.$textShadow;

		@include m.phoneXSSize {
			font-size: 2rem;
			margin-bottom: 1.2rem;
		}

		@include m.tabletSize {
			font-size: 2.4rem;
			margin-bottom: 0;
		}

		&:hover {
			color: v.$yellow;
		}
	}
}

.principal-navigation.show {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;

	@include m.tabletSize {
		flex-direction: row;
	}
}
