@use "base/variables" as v;
@use "base/mixins" as m;

.lineup {
	padding: 5rem 0;

	h3 {
		font-size: 4rem;
		margin-bottom: 5rem;

		@include m.tabletSize {
			font-size: 4.2rem;
		}
	}

	h3,
	p {
		text-align: center;
	}

	.day {
		color: v.$purple;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 5rem;
	}

	.day:last-of-type {
		margin-top: 10rem;
	}
}

.stage-container {
	margin-bottom: 5rem;

	@include m.tabletSize {
		@include m.gridColumns($gap: 10rem);
	}

	.stage {
		margin-bottom: 7rem;

		@include m.tabletSize {
			margin-bottom: 1rem;
		}

		padding: 3rem 0;
		box-shadow: rgb(38, 57, 77) 0px 11.5px 30px -10px;
	}

	.stage-name {
		font-weight: bolder;
		font-size: 2.4rem;

		@include m.phoneSize {
			font-size: 2.5rem;
		}

		@include m.tabletSize {
			font-size: 2.6rem;
		}

		@include m.desktopSize {
			font-size: 2.7rem;
		}
	}
}

.icon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0 2rem 0;
}

.calendary {
	font-size: 1.8rem;

	@include m.resetList;

	@include m.phoneSize {
		font-size: 1.9rem;
	}

	@include m.tabletSize {
		font-size: 2rem;
	}

	@include m.desktopSize {
		font-size: 2.1rem;
	}

	li {
		padding: 2.5rem;
		font-weight: 700;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 80%;
		text-align: right;
		border-bottom: 1px solid #e1e1e1;

		&:last-child {
			border-bottom: none;
		}

		@include m.phoneSize {
			max-width: 60%;
		}

		@include m.tabletSize {
			max-width: 90%;
		}

		@include m.desktopSize {
			max-width: 70%;
		}

		span {
			font-weight: 400;
		}
	}
}
